<% for(var i = 0; i < memberArray.length; i++) { %>
	<% for(var j = 0; j < memberArray[i].dances.length; j++) {%>
        <% if(memberArray[i].dances[j] ==  buttonName) {%>
            <tr>
                <td><%= memberArray[i].name%></td>
            </tr>
        <% } %>
    <% } %>
<% } %>